.nav {
    background-color:darkturquoise;
    overflow: hidden;
    width: 100%;
    line-height: 50px;
}
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
  
.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color:#ddd;
    color: white;
}